<div class="center">
  <button (click)="toggleContent()">{{ label }}</button>
  <app-child [show]="show">
    <!-- <div>Inside app child</div> -->
    <!-- <app-projected></app-projected> -->
    <!-- <app-projected id="app"></app-projected> -->
    <!-- <app-projected class="app"></app-projected> -->
    <!-- <app-projected appDummy></app-projected> -->
    <!-- <ng-container ngProjectAs="[group]">
      <div>Inside app child</div>
      <app-projected></app-projected>
    </ng-container> -->
    <div>Projected content</div>
    <ng-template>
      <app-projected></app-projected>
    </ng-template>
  </app-child>
</div>
